*.app
build/
dist/
node_modules/
react-ui/public/icons
apis/input_methods/icons
__pycache__/
bin/
out/
.idea/
.vscode/
icons/

# Mongo folder
apis/mongo/mongo.server.log
apis/mongo/db
apis/input_methods/icons/

# Swimlane BPD Final Files
bpd
bpd.pdf

react-ui/public/icons/
.DS_Store
