[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
py2app = "*"
flask-sockets = "*"
flask-cors = "*"
pynput = "*"

[requires]
python_version = "3.7"
