.ChartPage {
    width: 640px;
    height: 500px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    padding: 20px;
}

.ChartPage-Row {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.ChartPage-RowBegin {
    display: flex;
    width: 250px;
    align-self: center;
    align-items: center;
}

.ChartPage-ItemTitle {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.ChartPage-Scroll {
    overflow: auto;
    height: 185px;

}

/* Solid border */
.ChartPage-Divider {
    border-top: 1px solid black;
    width: 100%;
}

.ChartPage-ItemPercentsParent {
    width: 90%;
    height: 40px;
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.ChartPage-UserDetails {
    margin-top: 20px;
}

.ChartPage-UserDetails-Text {
    font-size: 20px;
}

.ChartPage-UserDetails-Title {
    font-weight: bold;
    font-size: 20px;
}

.ChartPage-ItemPercents {
    height: 100%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
